{%  extends 'accounts/main.html' %}
{% load mathfilters %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>User:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update User</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete User</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>User Information</h5>
			<hr>
			<p>Name: {{ user.name }}</p>
			<p>Email: {{user.email}}</p>
			<p>Phone:0{{user.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Sales</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_sales}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Desription</th>
					<th>Price</th>
					<th>Amount</th>
					<th>Total</th>
					<th>Date created</th>
				</tr>
				{% for sale in sales %}
					<tr>
						<td>{{ sale.product.name}}</td>
						<td>{{ sale.product.description }}</td>
						<td>{{ sale.product.price}}</td>
						<td>{{ sale.amount}}</td>
						<td>&#8358; {{ sale.amount | mul:sale.product.price}}</td>
						<td>{{ sale.date_created}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}